<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Monday, January 5, 2009 What is Artificial Intelligence? automating intelligence appears to have cognitive ability - autonomous behavior learning (the more you use it, the better it gets) making computers work like they do in Sci-Fi movies programs to do things that humans do better Turing test problem solving it is what AI researchers study What is Intelligence? it is what IQ tests measure Why is defining AI so hard? intelligence is hard to define the field is always changing Current AI Studies robotics - autonomous vehicles games - VR language voice recognition translation natural language processing database frontends learning advising </string>
</dict>
</plist>
