<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>AI in Games NPC (Non Player Characters) autonomous behaviours heuristics to reach a goal natural language processing fuzzy logic terrain navigation www.aigamedev.com  </string>
</dict>
</plist>
