<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Machine Learning What is learning? Kinds of learning Visual Recognition Walking Talking Ride a Bike Alphabet Colors Left from Right Counting Arithmetic Reading Writing Sports Social Interactions Artistic Why are they the same? gain new knowledge and skils skils experience mistakes knowledge  Concept Formation generalization from many examples Inductive Learning inductive bias Supervised/Trained Learning vs Unsupervised Unsupervised Concept formation Supervised Reading School Learnability How good is a system at learning a concept? Teach it a subset of a problem Give it another subset, see how it fares Does a program use machine learning? Does the program change over time as a result of its being used? AI Approaches to Learning Lower Levels Add facts to the knowledge base Higher Levels Symbolic Knowledge representation easy to see what the program has learned Neural Nets (Connectionist) pattern recognition Genetic Algorithms (Emergent) adaptive systems </string>
</dict>
</plist>
