<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Interactive Activation and Competition Model (IAC) Dynamic activation Pools model Not a learning model - all weights are preset Changes usually represented by changes in weight matrix </string>
</dict>
</plist>
